counter-props()
	background-color: var(--counter-background-color)
	color: var(--counter-color)
	min-height: var(--counter-size)
	max-height: var(--counter-size)
	max-width: max(var(--counter-size), min-content)
	min-width: var(--counter-size)
	padding: 0 calc(var(--counter-horizontal-paddings) / 2) 0 calc(var(--counter-horizontal-paddings) / 2)
	font-size: var(--counter-font-size)

.counter
	counter-props()
	display flex
	justify-content center
	align-items center
	stroke: 1px solid black
	border-radius: 50%