counter-props()
	background-color: var(--counter-background-color)
	color: var(--counter-color)
	height: var(--counter-size)
	min-width: var(--counter-size)
	padding: 0 var(--counter-horizontal-paddings) / 2
	font-size: var(--counter-font-size)

.counter
	counter-props()
	display flex
	justify-content center
	align-items center
	border-radius: 50%