.container
	color: lightslategray
	display: flex
	flex-direction: column
	align-items center
	font-size: 12px
	white-space: nowrap

.container-content
	width: 250px
	height: 150px
	border: 1px solid lightslategray
	display: flex
	align-items center
	justify-content center