*
	box-sizing: border-box
	border: 0
	margin 0

.app
	width: 100vw
	height: 100vh
	display: flex
	justify-content center
	align-items center
	flex-direction: column
	color: lightslategray

.container 
	width: 250px
	height: 150px
	border: 1px solid lightslategray
	display: flex
	align-items center
	justify-content center