* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containers {
  width: 835px;
  height: 600px;
  border: 1px solid #789;
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
}
.container-title {
  color: #789;
}
.container-content {
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #789;
}
